<!-- Footer -->
<footer>
    <span class="mdc-theme--primary">©{{year}} {{name}}</span>
    <!--
    <span class="mdc-theme--primary"><a href="/about.html">About</a></span>
    <span class="mdc-theme--primary"><a href="/tos.html">Terms of service</a></span>
    -->
</footer>

<script src="analytics.tpl.html" data-include></script>