<!-- Header section -->
<section id="section-header" class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--hide-phone"></div>
    <div class="mdl-cell mdc-layout-grid__cell--span-8 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
        <img src="static/logo-128.png" class="centered" alt="{{name}} logo"/>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--hide-phone"></div>
</section>