<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <meta name="description" content="{{description}}.">
    <link rel="icon" type="image/png" href="static/logo-64.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- MDC -->
    <script src="node_modules/material-components-web/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="node_modules/material-components-web/dist/material-components-web.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- UIToolkit -->
    <script src="node_modules/uitoolkit/dist/uitoolkit.min.js"></script>
    <link rel="stylesheet" href="node_modules/uitoolkit/dist/uitoolkit.css" type="text/css">

    <!-- Font Awesome -->
    <!--
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    -->

    <!-- JQuery -->
    <!--
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    -->

    <!-- Facebook SDK -->
    <!--
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : 'XXXXXXXXXXXXXXX',
                xfbml      : true,
                version    : 'v2.8'
            });
            FB.AppEvents.logPageView();
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    -->

    <!-- Custom imports -->
    <link rel="stylesheet" href="static/styles.css" type="text/css">
    <script src="static/polyfills.js"></script>
    
    <!-- Environment variables -->
    <script src="vars.tpl.html" data-include></script>
</head>