html, 
body {
    height: 100%;
    margin: 0;
}

:root {
  --mdc-theme-primary: #3F51B5;
  --mdc-theme-accent: #FF345A;
  --mdc-theme-background: #EEEEEE;
}

header.mdc-toolbar .mdc-toolbar__title {
    overflow: visible;
}

header.mdc-toolbar a {
    color: inherit;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

header.mdc-toolbar img {
    max-height: 56px;
    width: auto;
}

main {
    width: 100%;
    min-height: 95%;
    min-height: calc(100% - 128px - 8px);
    padding-bottom: 72px;
}

main section.mdc-layout-grid {
    /* Reduce the gutter to the right */
    margin-left: 8px;
}

a.button {
    color: inherit;
    text-decoration: inherit;
    display: inline-block;
}

a.button button {
    width: 100%;
    background: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--mdc-theme-accent, inherit);
}

section.mdc-layout-grid h1 {
    /* Center titles */
    text-align: center;
}

section.mdc-layout-grid p, .justify {
    text-align: justify;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer {
    position: relative;
    width: 95%;
    width: calc(100% - 32px);
    height: 64px;
    margin-bottom: 0;
    background-color: #EEEEEE;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 16px;
}

footer.fixed {
    position: fixed;
    bottom: 0;
}

footer span {
    min-width: 25%;
    text-align: center;
    display: inline-block;
    line-height: 64px;
}

footer a {
    color: inherit;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

button.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #EEEEEE;
    font-size: larger;
}
